body {
    font-family: monospace;
    font-size: 1.1rem;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    color: rgb(28, 102, 17);
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: #666;
    font-weight: bold;

    &:hover {
        color:rgb(28, 102, 17);
    }
}

.content {
    padding: 70px 0;

    p, ul, ol, dl, address {
        //font-family: sans-serif;
    }

    li {
        @media (max-width: 939px) {
            padding: 5px 0;
        }
    }

    .uk-article-meta {
        color: #666;
    }
}