@import 'variables';

body {
    font-family: $font-base;
    font-size: 1.2rem;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    color: $color-headlines;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: $color-links;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $color-links-hover;
        text-decoration: underline;
    }
}

.content {
    padding: 70px 0;

    li {
        padding: 5px 0;

        @media (min-width: $breakpoint) {
            padding: 3px 0;
        }
    }
}

.slashes::before {
    content: '//';
    display: inline-block;
    padding-right: 8px;
}

.text-strong {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-normal {
    font-weight: normal;
    text-transform: inherit;
}