body {
    margin: 0;
    font-family: monospace;
}


h1,
h2,
h3,
h4 {
    background: rgb(10,89,163);
    background: linear-gradient(90deg, rgba(10,89,163,1) 0%, rgba(0,105,8,1) 100%); 
    font-family: monospace;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color:rgba(10,89,163,1);

    &:hover {
        color: rgba(0,105,8,1);
    }
}

.content {
    padding: 70px 20px;
    max-width: 800px;

    @media (min-width: 940px) {
        margin: 30px auto;
        padding: 0 20px;
    }

    img {
        border-radius: 5px;
        height: auto;
        max-width: 100%;
    }

    p, ul, ol, dl, address {
        font-family: serif;
    }
}